/* Обнуление */
ul,
p,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

:root {
	--primary-brand: #4d5ae5;
	/*IRIS* CTAs Focused Active states Links */
	--pressed-state: #404bbf;
	/*OCEAN* CTAs */
	--dark-text-state: #2e2f42;
	/*NAVY-BLUE* Overlays Shadows Headings */
	--success: #31d0aa;
	/*GREEN* Valid fields Success messages */
	--text: #434455;
	/*SLATE* Body text */
	--subtle-Text: #8e8f99;
	/*LIGHT-SLATE* Helper text Deemphasized text */
	--accent: #e7e9fc;
	/*CORNFLOWER* Accent color Hairlines Subtle backgrounds */
	--light: #f4f4fd;
	/*CLOUD* Light mode backgrounds Light mode Dialogs/alerts */
	--Modaloverlay: rgba(46, 47, 66, 0.4);
	/*NAVY-BLUE-MODAL* Overlay */
	--Herobackground: rgba(46, 47, 66, 0.7);
	/*GREY* Hero image background */
}

body {
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--text);
	text-align: left;
}

/* Header */
.logo {
	font-family: "Raleway";
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 0.03em;
	line-height: 1.33;
	color: var(--dark-text-state);
	text-decoration: none;
}

/* Тег который покрашен синим */
.first-logo {
	color: var(--primary-brand);
}

/* Навигация */

.nav-menu {
	font-weight: 500;
}

.nav-link {
	text-decoration: none;
	color: var(--dark-text-state);
}

.nav-link:active,
.nav-link:focus {
	color: var(--pressed-state);
}

/* Адрес */

address {
	font-style: normal;
}

.adress-link {
	text-decoration: none;
	color: var(--text);
}

.adress-link:active,
.adress-link:focus,
.adress-link:hover {
	color: var(--pressed-state);
}

/* Main Index */

/* Hero section */

.hero {
	background-color: var(--dark-text-state);
	text-align: center;
}

.hero h1 {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	color: #ffffff;
}

/* Styles Button */

.button {
	cursor: pointer;

	border-radius: 4px;
	border: 1px solid transparent;
}

.button.hero {
	background-color: var(--primary-brand);
	color: #ffffff;

	width: 169px;
	height: 56px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
}

.button.hero:hover,
.button.hero:active,
.button.hero:focus {
	background-color: var(--pressed-state);
	color: #ffffff;
}

/* Quality section */

/* .quality-list {} */

/* .list-item {} */

.quality h2 {
	display: none;
	font-weight: 700;
	font-size: 36px;
	color: var(--dark-text-state);
}

.quality h3 {
	font-weight: 500;
	font-size: 20px;
	color: var(--dark-text-state);
}

/* Gallery section */

h2.gallery-title {
	font-weight: 700;
	font-size: 36px;
	color: var(--dark-text-state);
}

/* .gallery-list {}

.gallery-item {} */

/* Team-Section */

.team h2 {
	font-weight: 700;
	font-size: 36px;
	color: var(--dark-text-state);
}

.team h3 {
	font-weight: 500;
	font-size: 20px;
	color: var(--dark-text-state);
	text-align: center;
}

/* .team-list {
}

.team-number {
} */

.team-number > p {
	text-align: center;
}

/* .team-number > h3 {
} */

/* Main (Portfolio) */

/* Section Filter */

.filter-button {
	background-color: var(--light);
	color: var(--pressed-state);
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
}

.filter-button:active,
.filter-button:focus,
.filter-button:hover {
	color: #ffffff;
	background-color: var(--primary-brand);
}

.filter-button:focus {
	color: #ffffff;
	background-color: var(--primary-brand);
}

.box {
	color: #000fff;
}

/* Section Projects */

.project h1,
h2 {
	display: none;
}

/* .project {
} */

.project-item > h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--dark-text-state);
}

.footer {
	background-color: var(--dark-text-state);
}

.about {
	width: 264px;
	color: var(--accent);
}

.logo-footer {
	color: var(--light);
	text-decoration: none;
}
