/* Обнуление */
ul,
p,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
* li {
	list-style-type: none;
}

:root {
	--primary-brand: #4d5ae5;
	/*IRIS* CTAs Focused Active states Links */
	--pressed-state: #404bbf;
	/*OCEAN* CTAs */
	--dark-text-state: #2e2f42;
	/*NAVY-BLUE* Overlays Shadows Headings */
	--success: #31d0aa;
	/*GREEN* Valid fields Success messages */
	--text: #434455;
	/*SLATE* Body text */
	--subtle-Text: #8e8f99;
	/*LIGHT-SLATE* Helper text Deemphasized text */
	--accent: #e7e9fc;
	/*CORNFLOWER* Accent color Hairlines Subtle backgrounds */
	--light: #f4f4fd;
	/*CLOUD* Light mode backgrounds Light mode Dialogs/alerts */
	--Modaloverlay: rgba(46, 47, 66, 0.4);
	/*NAVY-BLUE-MODAL* Overlay */
	--Herobackground: rgba(46, 47, 66, 0.7);
	/*GREY* Hero image background */
}

body {
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--text);
	text-align: left;
}

/* Header */
.logo {
	font-family: "Raleway";
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 0.03em;
	line-height: 1.33;
	color: var(--dark-text-state);
	text-decoration: none;
}

.container {
	width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	background-color: antiquewhite;
}

.page-header {
	display: flex;
	justify-content: space-between;
}

.logo.top {
	display: block;

	margin-right: 76px;

	padding-top: 24px;
	padding-bottom: 24px;
}

.nav {
	display: flex;
}

/* Тег который покрашен синим */
.first-logo {
	color: var(--primary-brand);
}

/* Навигация */

.nav-menu {
	font-weight: 500;
	display: flex;
}

.nav-menu .menu-list + .menu-list {
	margin-left: 40px;
}
.nav .nav-menu .menu-list .nav-link {
	text-decoration: none;
	color: var(--dark-text-state);
	padding-top: 24px;
	padding-bottom: 24px;

	display: block;
}

.nav-link:active,
.nav-link:focus {
	color: var(--pressed-state);
}

/* Адрес */

address {
	font-style: normal;
}

.adress {
	display: flex;
	text-align: right;
}

.adress .adress-list .adress-link.tel {
	min-width: 153px;
}

.adress .adress-list .adress-link.tel {
	min-width: 151px;
}

.adress .adress-list + .adress-list {
	margin-left: 40px;
}

.adress .adress-list .adress-link {
	display: block;

	padding-top: 24px;
	padding-bottom: 24px;
}

.adress-link {
	text-decoration: none;
	color: var(--text);
}

.adress-link:active,
.adress-link:focus,
.adress-link:hover {
	color: var(--pressed-state);
}

/* Main Index */

/* Hero section */

.hero {
	background-color: var(--dark-text-state);
	text-align: center;
}

.hero h1 {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	color: #ffffff;
}

/* Styles Button */

.button {
	cursor: pointer;

	border-radius: 4px;
	border: 1px solid transparent;
}

.button.hero {
	background-color: var(--primary-brand);
	color: #ffffff;

	width: 169px;
	height: 56px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
}

.button.hero:hover,
.button.hero:active,
.button.hero:focus {
	background-color: var(--pressed-state);
	color: #ffffff;
}

/* Quality section */

.quality.container {
}

.quality-list {
	display: flex;
	flex-wrap: wrap;
}

.list-item {
	width: 264px;
	margin-right: 24px;
}

.list-item:nth-child(4n) {
	margin-right: 0;
}

.quality h2 {
	display: none;
	font-weight: 700;
	font-size: 36px;
	color: var(--dark-text-state);
}

.quality h3 {
	font-weight: 500;
	font-size: 20px;
	color: var(--dark-text-state);
}

/* Gallery section */

/* ..galery {} */

h2.gallery-title {
	font-weight: 700;
	font-size: 36px;
	color: var(--dark-text-state);
	text-align: center;
}

.gallery-list {
	display: flex;
	flex-wrap: wrap;
}

.gallery-list > .list-item {
	width: 360px;
	margin-right: 24px;
}
.gallery-list > .list-item:nth-child(3n) {
	margin-right: 0;
}

/* Team-Section */

/* .team{} */

.team h2 {
	font-weight: 700;
	font-size: 36px;
	color: var(--dark-text-state);
	text-align: center;
}

.team .team-list .list-number h3 {
	font-weight: 500;
	font-size: 20px;
	color: var(--dark-text-state);
	text-align: center;
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	background-color: teal;
}

.team .team-list .list-number. img {
	width: 264px;
}

.team .team-list .list-number {
	background-color: tomato;
	margin-right: 24px;
}

.team .team-list .list-number:nth-child(4n) {
	margin-right: 0;
}

/* .team-number > h3 {
} */

/* Main (Portfolio) */

/* Section Filter */

/* .project {} */
.container.project {
	text-align: center;
}
.project h1 {
	display: none;
}

.project h1 {
	display: none;
}
/* 1158 */

.project-list {
	display: flex;
	flex-wrap: wrap;

	margin-bottom: 120px;
}

.project-item img {
	width: 360px;
}

.project-item {
	width: 360px;
	margin-right: 24px;
	margin-bottom: 48px;
	margin-top: 72px;
}

.project-item:nth-child(3n) {
	margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.project-item > h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--dark-text-state);
}

.button.filter-button {
	background-color: var(--light);
	color: var(--pressed-state);

	width: 126px;
	height: 48px;

	margin-top: 96px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;

	border: 1px solid #e7e9fc;
}

.button.filter-button:active,
.button.filter-button:focus,
.button.filter-button:hover {
	color: #ffffff;
	background-color: var(--primary-brand);
}

/* FOOTER */

.footer-page {
	background-color: var(--dark-text-state);
}

.about {
	width: 264px;
	color: var(--accent);
}

.logo-footer {
	color: var(--light);
	text-decoration: none;
}

/* .flex-element:nth-last-child(-n + 3) {
	margin-bottom: 0;
} */
